/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Disable text cursor on all elements */
*:not(input):not(textarea) {
  cursor: none;
}

body,
html {
  height: 100%;
  background-color: #f9f9f9;
  font-family: 'League Spartan', sans-serif;
}

/* Text Styles */

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.25em;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25em;
}

h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.25em;
}

p {
  font-size: 24px;
}

/* Button Styles */

button {
  background-color: #f9f9f9;
  color: #0d0d0d;
  text-decoration: none;
  border: 4px solid #0d0d0d;
  padding: 14px 16px 10px 16px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 12px;
}

button:hover {
  background-color: #0d0d0d;
  color: white;
}

a {
  text-decoration: none;
}

#breadcrumb-item {
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 500;
}

#breadcrumb-item:hover {
  text-decoration: underline;
}

/* Navbar Styles */

.navbar {
  background-color: #f9f9f9;
  color: black;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: box-shadow .5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar.scrolled {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#logo {
  width: 48px;
  cursor: pointer;
}

.navbar .hamburger {
  background: none;
  border: none;
  color: black;
  font-size: 32px;
  height: 32px;
  cursor: pointer;
}

/* Nav Menu */

.nav-menu {
  position: fixed;
  text-align: right;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100%;
  background-color: white;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  transition: right 0.3s ease-in-out;
}

.nav-menu.open {
  right: 0;
}

#x {
  font-size: 32px;
  height: 32px;
  margin-bottom: -8px;
}

#linkedin {
  width: 28px;
  height: 28px;
  color: #0077b5;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
  display: block;
  padding: 30px 20px 20px 0;
  transition: color 0.3s ease-in-out;
}

/* Home Banner */

#homebanner {
  padding: 20px 0 40px 0;
}

#homebanner button {
  margin-top: 0.6em;
}

#homebanner-heading #d {
  display: none;
}

#boxes {
  width: 100%;
}

#cubes {
  display: none;
}

/* Profile Section */

#profile-section {
  color: #f9f9f9;
  background-color: #0d0d0d;
  padding: 40px 0 0 0;
}

#profile-text-d {
  display: none;
}

#profile-heading {
  padding: 0 0 40px 0;
}

#profile-text-m h3 {
  position: relative;
  /* Needed for absolute positioning of pseudo-element */
  padding-top: 8px;
  padding-left: 30px;
  /* Adjust as needed */
  margin-bottom: 40px;
}

#profile-text-m h3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  /* Width of the border */
  background: linear-gradient(#ff6ec4, #7873f5, #ff6ec4);
  background-size: 400% 400%;
}

#profile-section a {
  color: white;
  text-decoration: underline;
}

#profile-section a:hover {
  color: #FBBC1E;
  cursor: pointer;
}

#profile-section a:active {
  color: #b38001;
}

.bike-icon {
  position: absolute;
  bottom: 0;
  margin-bottom: -15px;
  color: #f9f9f9;
  font-size: 80px;
  animation: moveBike 6s linear infinite;
}

.bike-container {
  position: relative;
  margin-top: -20px;
  height: 80px;
  overflow: hidden;
}

@keyframes moveBike {
  0% {
    left: -100px;
  }

  100% {
    left: 100%;
  }
}

@keyframes moveBike {
  0% {
    left: -100px;
  }

  100% {
    left: 100%;
  }
}

/* Portfolio Section */

#portfolio-section {
  padding: 20px 0 40px 0;
}

#portfolio-section .row {
  display: flex;
  flex-direction: column-reverse;
}

#portfolio-section video {
  width: 100%;
  pointer-events: none;
}

.video-container {
  padding-bottom: 40px;
}

#portfolio-section h4 {
  margin-bottom: 20px;
}

#portfolio-section h2 {
  margin-bottom: 20px;
}

#d {
  display: none;
}

/* Container */
.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  /* Maximum width */
}

#align-center {
  display: flex;
  align-items: center;
}

#profile-icon {
  font-size: 32px;
  margin: 0 20px 0px 0;
}

#profile-heading {
  margin-bottom: -8px;
}

/* Rabbit Holes Section */

/* For Smaller Screens */
@media (max-width: 768px) {

  *:not(input):not(textarea) {
    cursor: auto;
  }

  #rabbithole-section {
    background-color: #0758c9;
    color: #f9f9f9;
    padding: 40px 0 10px 0;
  }

  #rabbithole-section #profile-heading {
    margin-bottom: -30px;
  }

  #rabbitholes {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  #rabbitholes .col-3 {
    width: 50%;
  }

  #rabbitholes h3 {
    font-size: 28px;
    margin-top: -10px;
    text-align: center;
  }

  #rabbitholes button {
    width: 100%;
    justify-content: center;
  }

  #rabbitholes a {
    text-decoration: none;
  }

  #folders {
    margin-top: -20px;
    height: 100px;
    width: 100%;
    height: 80%;
    color: #F8D775;
    position: relative;
    top: 0;
  }

  .popup {
    position: fixed;
    width: 90%;
    margin-left: 5%;
    left: 0 !important;
    border: 4px solid #0d0d0d;
    background-color: #f9f9f9;
    user-select: none;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .popup-header {
    background: linear-gradient(-45deg, #ff6ec4, #7873f5, #ffd98e, #ff6ec4);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    background-color: #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #0d0d0d;
    padding: 0 0 0 12px;
  }

  .popup-header h4 {
    margin: 0;
    margin-bottom: -6px;
  }

  .popup-header button {
    padding: 12px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    background-color: transparent;
  }

  .popup-header button:hover {
    background-color: red;
    color: #0d0d0d;
  }

  .popup-content {
    padding: 12px;
    overflow: auto;
  }

  .popup-content a {
    color: blue;
    font-size: 24px;
    line-height: 20px;
  }

  .popup-content a:hover {
    color: #ff00c8;
    cursor: pointer;
  }

}

/* Styleco Case Study */

.styleco h1 {
  padding: 80px 0 80px 0;
}

.styleco .row {
  align-items: start;
  margin-top: 40px;
}

.styleco .col-4 {
  position: sticky;
  top: 120px;
}

.styleco h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.styleco h3 {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.styleco p {
  font-size: 24px;
  line-height: 1.75em;
  margin-bottom: 20px;
}

.strong {
  font-weight: 700;
}

.styleco ul, ol {
  font-size: 24px;
  margin-left: 20px;
}

li .li-heading {
  font-weight: 600;
  margin-bottom: 0px;
}

.product-images {
  margin: 20px 0;
  width: 100%;
}

.toolkit-img {
  width: 80px;
  border-radius: 20px;
  margin-right: 20px;
}

.wrapper {
  margin-bottom: 40px;
}

#footer {
  background-color: #0d0d0d;
  color: #f9f9f9;
  padding: 20px;
}

#footer h4 {
  margin-bottom: -8px;
  font-weight: 500;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {

  /* Text Styles */

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.15em;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25em;
  }

  h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25em;
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25em;
  }

  p {
    font-size: 20px;
  }

  /* Layout Stuff */

  #mb-10 {
    margin-bottom: 10px;
  }

  #mb-20 {
    margin-bottom: 20px;
  }

  #mb-40 {
    margin-bottom: 40px;
  }

  #mb-80 {
    margin-bottom: 80px;
  }

  #mb-160 {
    margin-bottom: 160px;
  }

  /* Nav Styles */

  .navbar .hamburger {
    display: none;
  }

  .nav-menu {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    right: auto;
    width: auto;
    height: auto;
    padding: 0;
  }

  .nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-menu ul li a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .nav-menu ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #x {
    display: none;
  }

  .container {
    padding: 0 15px;
  }

  #flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Home Banner */

  #homebanner {
    align-items: center;
    padding: 80px 0 80px 0;
  }

  #homebanner-heading {
    padding-right: 40px;
  }

  #homebanner-heading #m {
    display: none;
  }

  #homebanner-heading #d {
    display: block;
  }

  #homebanner button {
    display: none;
  }

  #boxes {
    display: none;
  }

  #cubes {
    display: block;
    width: 60%;
  }

  /* Profile Section */

  #profile-section {
    padding: 160px 0 0 0;
  }

  #profile-heading {
    padding: 0;
  }

  #profile-text-d {
    display: block;
  }

  #profile-text-m {
    display: none;
  }

  .bike-icon {
    position: absolute;
    bottom: 0;
    margin-bottom: -15px;
    color: #f9f9f9;
    font-size: 80px;
    animation: moveBike 16s linear infinite;
  }

  .bike-container {
    position: relative;
    height: 160px;
    overflow: hidden;
  }

  /* Portfolio Section */

  #portfolio-section {
    padding: 80px 0;
  }

  #portfolio-section .row {
    display: flex;
    flex-direction: row;
  }

  .video-container {
    padding-bottom: 0px;
  }

  /* Rabbit Holes Section */
  #rabbithole-section {
    background-color: #0758c9;
    color: #f9f9f9;
    padding: 160px 0;
  }

  #rabbitholes {
    gap: 20px;
  }

  #rabbitholes h3 {
    margin-top: -20px;
    text-align: center;
  }

  #rabbitholes button {
    width: 100%;
    justify-content: center;
  }

  #rabbitholes a {
    text-decoration: none;
  }

  #folders {
    width: 80%;
    margin-left: 10%;
    height: auto;
    color: #F8D775;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
  }

  #folders:hover {
    top: -8px;
  }

  .popup {
    position: fixed;
    width: 600px;
    border: 4px solid #0d0d0d;
    background-color: #f9f9f9;
    user-select: none;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .popup-header {
    background: linear-gradient(-45deg, #ff6ec4, #7873f5, #ffd98e, #ff6ec4);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    background-color: #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #0d0d0d;
    padding: 0 0 0 12px;
  }

  .popup-header h4 {
    margin: 0;
    margin-bottom: -6px;
  }

  .popup-header button {
    padding: 12px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    background-color: transparent;
  }

  .popup-header button:hover {
    background-color: red;
    color: #0d0d0d;
  }

  .popup-content {
    padding: 12px;
    overflow: auto;
  }

  .popup-content a {
    color: blue;
  }

  .popup-content a:hover {
    color: #ff00c8;
    cursor: pointer;
  }

  #d {
    display: block;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-12 {
    width: 100%;
  }

}